.modal-box{
    min-height: 150px;
    width: 100%;
    max-width: 580px;
    background: white;
}

button {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: turquoise;
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
   }
   
   button:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(16, 216, 129) 0%, rgba(0,212,255,1) 100%);
   }
   
   button:active {
    transform: translate(0em, 0.2em);
   }

.input-container {
    --c-text: rgb(50, 50, 80);
    background: #f8f8f8;
    --c-outline: rgb(37, 221, 99);
    display: flex;
    gap: 1ch;
    position: relative;
    max-width: 500px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .input-field {
    padding: 0.5em 0.75em;
    border-radius: 0.2em;
    border: 1px solid var(--c-border, currentColor);
    color: var(--c-text);
    font-size: 1rem;
    letter-spacing: 0.1ch;
    width: 100%;
  }
  
  .input-field:not(:placeholder-shown) + .input-label {
    transform: translateY(-220%);
    opacity: 1;
  }
  
  .input-field:invalid {
    --c-border: rgb(230, 85, 60);
    --c-text: rgb(230, 85, 60);
    --c-outline: rgb(230, 85, 60);
  }
  
  .input-field:is(:disabled, :read-only) {
    --c-border: rgb(150, 150, 150);
    --c-text: rgb(170, 170, 170);
  }
  
  .input-field:is(:focus, :focus-visible) {
    outline: 2px solid var(--c-outline);
    outline-offset: 2px;
  }
  
  