<div class="centered-content">
    <div class="login-box">


        <p class="form-title">Log in to your account</p>
        <div class="input-container">
            <input type="email" placeholder="Enter email" #email>
            <span>
            </span>
        </div>
        <div class="input-container">
            <input type="password" placeholder="Enter password" #password>
        </div>
        <button class="submit" (click)="onLoginButtonClicked(email.value,password.value)">
            Login
        </button>


    </div>
</div>