/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');

:root{
    --turquoise: #44ddd0;
    --green: #27d7a1;
    --light-green: #45f69e;
    --dark-green: rgb(0, 100, 80);
    --light: #f8f8f8;
    --family-sans-serif: "Nunito", sans-serif;
    --primary: var(--green);
    --link: var(--turquoise);
    --control-border-width: 2px;
    --input-border-color: transparent;
    --input-shadow: none;
}

html{
    background: linear-gradient(to right top, var(--turquoise),var(--green));
    height: 100%;
    font-family: var(--family-sans-serif),sans-serif;
}

body{
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.centered-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.modal-box{
    min-height: 200px;
    width: 100%;
    max-width: 580px;
    background: white;
    border-radius: 5px;
    padding: 35px;
}

.title{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.white-box{
    padding: 35px;
    background: white;
    border-radius: 5px;
    width: 350px;
    max-width: 350px;
}