<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Edit Task
        </h1>

        <input #taskTitle class="input has-background-light is-medium has-text-dark" type="text"
            placeholder="Enter Task name...">
        <br><br>
        <div class="buttons is-right">
            <button class="button is-medium" routerLink="/">Cancel</button>
            <button class="button is-primary has-text-white is-medium"
                (click)="updateTask(taskTitle.value)">Save</button>
        </div>


    </div>
</div>